<?xml version="1.0" encoding="UTF-8"?>

<!--Resources-->
<!--=========-->
<!--https://stackify.com/logging-logback/-->
<!--https://examples.javacodegeeks.com/enterprise-java/logback/logback-rollingfileappender-example/-->
<!--https://blog.takipi.com/how-to-instantly-improve-your-java-logging-with-7-logback-tweaks/-->
<!--https://logback.qos.ch/manual/appenders.html-->
<configuration scan="false" scanPeriod="60 seconds">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <property name="LOG_BASE" value="logs" />
    <property name="LOG_ARCHIVE" value="${LOG_BASE}/archive" />
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appender name="appender_email" level="error" class="ch.qos.logback.classic.net.SMTPAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">      
          <level>ERROR</level>
          <onmismatch>DENY</onmismatch>
          <onmatch>ACCEPT</onmatch>
        </filter>
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>explorer.aion@gmail.com</username>
        <password>PLAT4life</password>
        <to>ali@nuco.io</to>
        <from>explorer.aion@gmail.com</from>
        <subject>%.-30msg</subject>
        <layout>
            <pattern>%d %-5level [%thread]: %msg%n</pattern>
        </layout>
    </appender>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appender name="appender_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger{0} | %d %-5level| [%thread]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="appenderasync_console" level="info" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>30000</maxFlushTime>
        <neverBlock>true</neverBlock>
        <appender-ref ref="appender_console" />
    </appender>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appender name="appender_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/general.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/general/general.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d %-5level [%thread]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="appenderasync_file" level="debug" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>30000</maxFlushTime>
        <neverBlock>true</neverBlock>
        <appender-ref ref="appender_file" />
    </appender>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appender name="appender_analytics" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/analytics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/analytics/analytics.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>15</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>250MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSS"}, [%thread]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="appenderasync_analytics" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>30000</maxFlushTime>
        <neverBlock>true</neverBlock>
        <appender-ref ref="appender_analytics" />
    </appender>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appender name="appender_integrity" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/integrity.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/integrity/integrity.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>15</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSS"}| %-5level | [%thread]: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="appenderasync_integrity" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>30000</maxFlushTime>
        <neverBlock>true</neverBlock>
        <appender-ref ref="appender_integrity" />
    </appender>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <appender name="appender_parser" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_BASE}/parser.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/integrity/parser.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>15</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSS"}| %-5level | [%thread]: %msg%n</pattern>
        </encoder>
    </appender>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <logger name="logger_analytics" level="debug" additivity="false">
        <appender-ref ref="appenderasync_analytics"/>
    </logger>
    <logger name="logger_general" level="trace" additivity="false">
        <appender-ref ref="appenderasync_file"/>
        <appender-ref ref="appenderasync_console"/>
        <!--all error-level logs trigger email-->
        <!--appender-ref ref="appender_email"/-->
    </logger>
    <logger name="logger_parser" level="trace" additivity="false">
        <appender-ref ref="appender_parser"/>
    </logger>
    <logger name="logger_integrity" level="trace" additivity="false">
        <appender-ref ref="appenderasync_integrity"/>
        <appender-ref ref="appenderasync_console"/>
    </logger>
</configuration>